.chatbot-page {
  .text {
    display: flex;
    flex-direction: column;
    width: calc(100% - $padding-md*2);
    padding: 0 $padding-md;

    .list-green {
      li {
        padding: $padding-xs 0;
        display: flex;
        align-items: center;

        .number {
          color: $tertiare-color;
          font-weight: $font-weight-semibold;
          font-size: $font-size-md;
          margin-right: $margin-sm;
        }
      }
    }
  }
}

@media (min-width: 48rem){
  .chatbot-page {
    .text {
      width: 65%;
    }
  }
}

//botman

#messageArea {
  ol.chat {
    background-color: $background-color !important;
  
    .chatbot {
      background-color: $primary-color !important;
    }
  }
}

.msg {
  word-wrap: break-word;
  min-width: 50px;
  max-width: 80%;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: $primary-color;
}