/* Header */
.site-header {
  transform: translateX(100%);
  transition: $transition-base;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: $white;

  &.open {
    position: fixed;
    transform: translateX(0);
    height: 100vh;
    overflow-y: hidden;
  }
}

@media (min-width: 48rem) {
  .site-header {
    transform: translateX(0);
    position: fixed;
    z-index: 200;  
    width: $width-nav;
    height: 100vh;
    min-height: 500px;
    left: 0;
    top: 0;
    background-color: $white;
    color: $primary-color;
    border-top-right-radius: $border-radius-md;
    border-bottom-right-radius: $border-radius-md; 
    box-shadow: $box-shadow; 
  }
}


//section login and user
.header__user {
  background-color: $tertiare-color;
  color: $primary-color;
  border-top-right-radius: 0;
  padding: $padding-md $padding-sm 0 0;
  border-bottom: 2px solid $primary-color;

  .nav__list {
    .nav__list__item {
      padding-bottom: $padding-md;
      padding-left: $padding-md;

      .header__user-name {
        display: block;
        font-family: 'Syne', sans-serif;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        line-height: 1.5;
      }

      .dropdown-menu {
        .dropdown-item {
          display: block;
          opacity: 1;
          padding-bottom: $padding-sm;
        }
      }

      .dropdown-menu.show{
        .dropdown-item {
          display: block;
          opacity: 0;
        }
      } 
    }
  }
}

@media (min-width: 48rem) {
  .header__user {
    border-top-right-radius: $border-radius-md;
  }
}

.header__nav {
  padding-left: 0;

  .nav__list__item {
    padding: $padding-sm;
    padding-left: $padding-md;
    border-bottom: 1px solid $background-color;
    position: relative;
    display: flex;
    align-items: center;

    svg {
      display: inline;
      width: 1.5rem;
      margin-right: $margin-sm;
    }

    a {
      color: $black;
      transition: $transition-base;

      &.active {
        color: $primary-color;
        opacity: 1;
        font-weight: $font-weight-medium;
      }
    }
  }
}

@media (min-width: 48rem) {
  .header__nav {
    padding-left: 0;
  
    .nav__list__item {
      padding: $padding-sm;
      padding-left: $padding-md;
      border-bottom: 1px solid $background-color;
      position: relative;
      display: flex;
      align-items: center;
  
      svg {
        display: inline;
        width: 1.5rem;
        margin-right: $margin-sm;
      }
  
      a {
        color: $black;
        opacity: 0.5;
        transition: $transition-base;
  
        &:hover{
          color: $primary-color;
          opacity: 1;
        }
  
        &.active {
          color: $primary-color;
          opacity: 1;
          font-weight: $font-weight-medium;
  
          &::after {
            content: "";
            position: absolute;
            background-color: $primary-color;
            height: 100%;
            width: 5px;
            top: 0;
            right: 0;
            transition: $transition-base;
          }
        }
      }
    }
  }  
}


//section with mail and number
.header__info {
  padding-top: $padding-sm;
  padding-left: $padding-md;
  
  a {
    display: block;
    color: $black;
    opacity: 0.5;
    transition: $transition-base;
    margin-bottom: $margin-sm;

    &:hover {
      color: $primary-color;
      opacity: 1;
    }
  }
}

//hamburger
.hamburger-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: block;
  background: $tertiare-color;
  border: none;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow;
  z-index: 200;

  svg {
    width: 3rem;
    height: 3rem;
  }

  .line {
    fill: none;
    stroke: $primary-color;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 3;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 3;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 3;
  }

  &.open {
    .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 3;
    }
    .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 3;
    }
    .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 3;
    }
  }
}

@media (min-width: 48rem) {
  .hamburger-btn{
    display: none;
  } 
}